<h2 class="r-popupTitle">Условия</h2>
<b>Договор публичной оферты</b>
<p>
  Уважаемый Клиент! Данная Оферта, опубликованная компанией ООО «РУ-Сеть» (далее по тексту

  «Компания») адресована физическим лицам (далее «Клиенты») и является официальным публичным

  предложением заключить Договор об оказании услуг (далее «Услуги системы») в соответствии с п.2 ст.437

  ГК РФ. Под Услугами системы понимается предоставление доступа к информационным ресурсам для

  выбора. Бронирования и Оплаты электронных автобусных билетов (маршрутных квитанций).

  Использование Услуг системы возможно только на условиях настоящей Оферты. Если Клиент не принимает

  в полном объеме условия настоящей Оферты, использование Услуг системы невозможно. Использование

  Услуг системы Клиентом и действий, предусмотренных в Оферте, означает его безоговорочное

  присоединение ко всем условиям Оферты без каких-либо изъятий или ограничений, а Договор считается

  заключенным.
</p>
<ol>
   <li>
    <b>Предмет договора</b>
    <p>
      Компания (Сторона 1) на возмездной основе предоставляет Клиенту (Сторона 2) Услуги системы по доступу в режиме реального времени к актуальной информации о вариантах маршрутов автобусных перевозок и наличии мест, на основании которой Клиент может лично или опосредованно производить оформление заказов, Бронирование и Покупку (Оплату) электронных автобусных билетов (маршрутных квитанций) Перевозчика на условиях данной Оферты.
    </p>
    </li>
   <li>
       <b>Права и обязанности Сторон</b>

       <ol>
           <li>
             <b>Клиент вправе</b>

               <ol>
                   <li>Самостоятельно принимать решение о пользовании Услугами системы.</li>

                   <li>Отказаться от услуг Перевозчика на условиях Перевозчика.</li>

                   <li>Обратиться в службу поддержки Компании для решения сложных ситуаций.</li>

                   <li>Направлять отзывы об Услугах системы, по контактам, указанным в разделе «Контакты». При этом Клиент не имеет права оскорблять, унижать, нецензурно выражаться в адрес Компании и сотрудников Компании.</li>
               </ol>
           </li>

           <li>
             <b>Компания вправе</b>

               <ol>
                   <li>Отказаться от предоставления Услуг системы Клиенту в случае нарушения Клиентом порядка Оплаты или не предоставления им существенных сведений, необходимых для оформления электронных автобусных билетов (маршрутных квитанций).</li>

                   <li>Получать от Перевозчиков бонусы, скидки и иные формы материального поощрения за привлечение Клиентов к Услугам системы и оставлять их в своем распоряжении в качестве дополнительной выгоды.</li>

                   <li>Отключать и включать доступ к Услугам системы, производить профилактические работы на оборудовании, задействованном в оказании доступа к Услугам системы в удобное время, информируя об этом Клиентов.</li>

                   <li>Устанавливать и изменять в любое время сервисные сборы при оформлении электронных автобусных билетов (маршрутных квитанций) (маршрутных квитанций), а так же концепцию ценообразования.</li>

                   <li>Предоставлять Клиенту информацию о Перевозчиках и способах оплаты в объёме, согласованном с Перевозчиками и Платёжными системами, участвующими в процессе покупки электронных автобусных билетов (маршрутных квитанций).</li>

                   <li>Указывать стоимость своих услуг в виде единой цены на услуги Перевозчика, включающей стоимость услуг Компании. Клиент признаёт, что согласен с данной формулировкой стоимости Услуг системы и ориентируется при заказе на конечную стоимость заказа.</li>

                   <li>Консультировать Клиента по процедуре оформления заказа, Бронирования и Оплаты электронных автобусных билетов (маршрутных квитанций).</li>

                   <li>В том числе направлять Клиенту электронные письма на адрес, указанный при регистрации Клиента (если предусмотрена).</li>

                   <li>Требовать от Клиента полной Оплаты Услуг системы в соответствии со стоимостью произведенного заказа.</li>

                   <li>Направить Клиента в службу поддержки или на интернет-ресурс Перевозчика или Платёжной системы за более подробной информацией.</li>

                   <li>В случае изменения законодательства РФ или принятия новых нормативно-правовых актов, затрагивающих целиком или частично предоставление Услуг системы, Компания сохраняет за собой право на внесение любых изменений, направленных на приведение в соответствие с принятыми документами сервиса предоставления Услуг системы.</li>
               </ol>
           </li>
           <li>
             <b>Клиент обязан</b>

               <ol>
                   <li>Согласиться с условиями данной Оферты. Если Клиент воспользовался Услугами системы и забронировал или оплатил электронный автобусный билет (маршрутную квитанцию), то своими действиями он подтверждает принятие всех условий Оферты.</li>

                   <li>Самостоятельно ознакомиться с правилами пользования той или иной Платёжной системы при возможности выбора способа Оплаты электронных автобусных билетов (маршрутных квитанций).</li>

                   <li>Проверить самостоятельно данные заказа перед Бронированием и Оплатой электронного автобусного билета (маршрутной квитанции). Клиент несет полную ответственность за достоверность и правомерность предоставленных данных, использованных при оформлении заказа.</li>

                   <li>Не приступать к оформлению заказа, предварительно не ознакомившись с правилами предоставления Услуг системы.</li>

                   <li>Ознакомиться и принять полную стоимость услуг в виде общей суммы перед Бронированием и Оплатой.</li>

                   <li>Оплатить в полном объёме самостоятельно или через третьих лиц стоимость Услуг системы и стоимость услуг Перевозчика любым из предоставленных способов оплаты.</li>

                   <li>Удостовериться в том, что электронный автобусный билет (маршрутная квитанция) успешно оплачен и распечатать маршрутную квитанцию.</li>
               </ol>
           </li>

           <li>
             <b>Компания обязана</b>

               <ol>
                   <li>Предоставить Клиенту доступ к Услугам системы для выбора, Бронирования и Оплаты электронных автобусных билетов (маршрутных квитанций) и оказать услуги на условиях настоящей Оферты.</li>

                   <li>Предоставить Клиенту необходимую информацию и инструкции для оформления заказа, Бронирования и Оплаты электронных автобусных билетов (маршрутных квитанций). Исчерпывающей информацией считается та информация, которая доступна в процессе использования Услуг системы.</li>

                   <li>Предоставить Клиенту информацию о Перевозчиках и способах оплаты. Исчерпывающей информацией считается информация, предоставленная самими Перевозчиками и Платёжными системами и которая доступна в процессе использования Услуг системы.</li>

                   <li>Принимать оплату от Клиента (в том числе через третьих лиц) за пользование Услугами системы и Перевозчика.</li>

                   <li>Получать on-line подтверждение об успешной Оплате электронных автобусных билетов (маршрутных квитанций) от Платёжных систем (третьих лиц), выступающих в роли агентов по приёму платежей в случае их доступности и работоспособности на момент Оплаты. Без получения подтверждения от Платёжной системы об успешной оплате электронный автобусный билет (маршрутная квитанция) считается не выкупленным.</li>
               </ol>
           </li>
       </ol>
   </li>
   <li>
       <b>Обработка Персональной информации Клиента</b>

       <ol>
           <li>
              <b>Цели сбора и обработки персональной информации Клиентов</b>

               <ol>
                   <li>Компания собирает и хранит только ту персональную информацию, которая необходима для предоставления Услуг системы.</li>

                   <li>Персональную информацию Клиента Компания может использовать в следующих целях:

                       <ul>
                           <li>идентификации Клиента</li>

                           <li>предоставления Клиенту Услуг системы Компании</li>

                           <li>связи с Клиентом, в том числе направления уведомлений, запросов и информации, касающейся использования Услуг системы, а также обработки запросов и заявок от Клиента</li>

                           <li>улучшения качества Услуг системы, удобства использования, разработки новых услуг</li>

                           <li>проведения статистических и иных исследований на основе обезличенных данных.</li>
                       </ul>
                   </li>
               </ol>
           </li>

           <li>
               <b>Условия обработки персональной информации Клиента и её передачи третьим лицам</b>
               <ol>
                   <li>В отношении персональной информации Клиента обеспечивается её конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.</li>

                   <li>Компания вправе передавать персональную информацию Клиента третьим лицам в следующих случаях:

                       <ul>
                           <li>в рамках использования Клиентом Услуг системы;</li>

                           <li>передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</li>

                           <li>при продаже или иной передаче бизнеса (полностью или частично), при этом к приобретателю переходят все обязательства Компании по соблюдению условий настоящей Оферты применительно к полученной им персональной информации;</li>

                           <li>в иных случаях, предусмотренных действующим российским и/или иным применимым законодательством.</li>
                       </ul>
                   </li>

                   <li>Компания принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Клиента от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</li>

                   <li>Соглашаясь с условиями настоящей Оферты, Клиент даёт Компании согласие на обработку его персональных данных в целях исполнения Федерального закона № 152-ФЗ от 27.07.2006 года «О персональных данных» и в целях, предусмотренных п.3.1-3.2 настоящей Оферты. Указанное согласие действует в течение срока действия настоящей Оферты и может быть отозвано Клиентом путём одностороннего отказа от использования Услуг системы. Если одностороннего отказа от Клиента не поступало, его персональные данные подлежат уничтожению или обезличиванию после достижения целей обработки силами Компании. Если при исполнении условий настоящей Оферты Клиент предоставляет Компании персональные данные третьих лиц, Клиент гарантирует законность их получения и наличие согласия субъектов этих персональных данных на их предоставление, а также принимает на себя ответственность за правомерность предоставления и соответствие действительности указанных данных.</li>

                   <li>Клиент несёт ответственность за конфиденциальность своего регистрационного имени (логина) и пароля (если таковой предусмотрен), а также за все действия, произведенные под данным именем (логином) и паролем. Компания не несёт ответственности и не возмещает убытки, возникшие по причине несанкционированного использования третьими лицами идентификационных данных Клиента.</li>
               </ol>
           </li>
       </ol>
   </li>

   <li>
       <b>Условия Оплаты и обмена электронного автобусного билета (маршрутной квитанции)</b>

       <ol>
           <li>Клиент оплачивает услуги Перевозчика и Компании в полном объёме.</li>

           <li>Цена заказа формируется из фактической стоимости услуги, тарифа, сборов и налогов и указывается в электронном автобусном билете (маршрутной квитанции). Клиент может оплатить услуги Перевозчика и Компании наличными, безналичным расчетом или банковской картой.</li>

           <li>В случае отказа Клиента от услуг Перевозчика (автобусной перевозки), денежные средства за электронные автобусные билеты (маршрутную квитанцию) возвращаются Клиенту согласно условиям, установленным Уставом автомобильного транспорта и городского наземного электрического транспорта (ФЗ №259-ФЗ от 08.11.2007) и «Правилами перевозок пассажиров и багажа автомобильным транспортом и городским наземным электрическим транспортом», утвержденных Постановлением Правительства РФ от 14.02.2009г. №112 с последующими изменениями и дополнениями, условий Перевозчика и Компании. Сервисный сбор и комиссии за бронирование не возвращаются. Расходы, связанные с перечислением Компанией денежных средств на счёт Клиента, могут вычитаться из суммы возврата, подлежащей перечислению.</li>

           <li>Электронный автобусный билет (маршрутная квитанция) приравнивается к билету и даёт право воспользоваться услугой проезда в автобусе. Электронный автобусный билет (маршрутная квитанция) подлежит обмену на билет по требованию Перевозчика.</li>

           <li>Электронный автобусный билет (маршрутная квитанция) обменивается на билет в салоне автобуса у представителя Перевозчика (водителя, контролёра), в билетных кассах Перевозчика. При обмене электронного автобусного билета (маршрутной квитанции) на проездные (перевозочные) документы Клиент обязан предъявить представителю Перевозчика в салоне автобуса или кассиру билетной кассы Перевозчика маршрутную квитанцию и документ, удостоверяющий личность.</li>
       </ol>
   </li>

   <li>
     <b>Отчёт Компании</b>
    <p>
      Отчётом компании по исполнению своих обязательств по условиям Оферты является передача Клиенту электронного автобусного билета (маршрутной квитанции).</li>
    </p>
   <li>
       <b>Ссылки на другие сайты</b>

       <ol>
           <li>Система Компании может содержать ссылки на другие сайты в сети Интернет (сайты третьих лиц). Указанные третьи лица и их контент (содержимое) не проверяются Компанией на соответствие тем или иным требованиям (достоверности, полноты, законности и т.п.). Компания не несёт ответственность за любую информацию, материалы, размещённые на сайтах третьих лиц, к которым Клиент получает доступ.</li>

           <li>Ссылка (в любой форме) на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная в системе, не является одобрением или рекомендацией данных продуктов (услуг, деятельности) со стороны Компании, за исключением случаев, когда на это прямо указывается на ресурсах Компании.</li>
       </ol>
   </li>

   <li>
     <b>Возврат</b>
     <p>
       Для возврата электронного автобусного билета (маршрутной квитанции) Клиент должен оформить в билетной кассе Перевозчика Заявление на возврат и/или отправить Заявление на электронный адрес Компании. У Перевозчиков условия возврата электронного автобусного билета (маршрутной квитанции) могут отличаться и изменяться.</li>
     </p>
   <li>
       <b>Ответственность сторон. Разрешение споров</b>

       <ol>
           <li>Перевозчик несёт ответственность за предоставление услуги по перевозке Клиента.</li>

           <li>Перевозчик несёт ответственность за задержку, отмену и/или перенос своих рейсов на условиях, указанных в Уставе автомобильного транспорта и городского наземного электрического транспорта (ФЗ №259-ФЗ от 08.11.2007) и «Правилах перевозок пассажиров и багажа автомобильным транспортом и городским наземным электрическим транспортом», утвержденных Постановлением Правительства РФ от 14.02.2009г. №112, с последующими изменениями и дополнениями и Правилах перевозчика.</li>

           <li>Перевозчик несет ответственность за уровень обслуживания на своих рейсах.</li>

           <li>Компания не несёт ответственности за надлежащее функционирование и доступность отдельных сегментов сети Интернет в ходе покупки электронных автобусных билетов (маршрутных квитанций).</li>

           <li>Клиент принимает на себя полную ответственность и риски за достоверность вводимой контактной информации при Бронировании и Оплате электронных автобусных билетов (маршрутных квитанций).</li>

           <li>Компания не несёт ответственности за любые убытки и моральный вред, понесённые Клиентом в результате ошибочного понимания или непонимания Клиентом информации о порядке получения и использования электронных автобусных билетов (маршрутных квитанций).</li>

           <li>Стороны будут прилагать все усилия с целью достижения согласия по спорным вопросам путём переговоров. При невозможности достижения согласия на переговорах, спор передаётся на разрешение суда по месту нахождения Ответчика.</li>

           <li>По всем остальным вопросам, не предусмотренным в настоящей Оферте, Стороны руководствуются действующим законодательством Российской Федерации.</li>

           <li>Компания не несёт ответственность за негативные последствия и убытки, возникшие, в том числе:

               <ul>
                   <li>в случае невозможности выполнения обязательств Перевозчика, вследствие недостоверности или недостаточности сведений, предоставленных Клиентом, или нарушения Клиентом установленных правил оформления и оплаты заказа;</li>

                   <li>за действия Перевозчиков (изменение, отмена, перенос, задержка отправления рейсов, изменение стоимости билетов, изъятие тарифа из продажи, аннуляция неоплаченных или оплаченных бронирований);</li>

                   <li>за отсутствие у Клиента при посадке маршрутной квитанции, полученной с помощью Компании;</li>

                   <li>за неявку или опоздание Клиента к месту отправления автобуса, нахождение в состоянии алкогольного, наркотического опьянения и вследствие этого невозможности воспользоваться услугами перевозки.</li>
               </ul>
           </li>
       </ol>
   </li>

   <li>
       <b>Обстоятельства непреодолимой силы</b>

       <ol>
           <li>Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств по настоящей Оферте, если такое неисполнение явилось следствием обстоятельств непреодолимой силы, то есть чрезвычайных и непредотвратимых при данных условиях обстоятельств.</li>

           <li>К обстоятельствам непреодолимой силы, в частности, относятся: стихийные бедствия, военные действия, общегосударственный кризис, забастовки в отрасли или регионе, действия и решения государственных органов власти, сбои, возникающие в телекоммуникационных и энергетических сетях, действие вредоносных программ, а также недобросовестные действия третьих лиц, выразившиеся в действиях, направленных на несанкционированный доступ и/или выведение из строя программного и/или аппаратного комплекса Компании или Клиента.</li>
       </ol>
   </li>

   <li>
       <b>Изменение и расторжение договора оферты</b>

       <ol>
           <li>Настоящая Оферта вступает в силу с момента начала процесса оформления заказа Клиентом и действует до получения клиентом электронного автобусного билета (маршрутной квитанции).</li>

           <li>Клиент вправе в любой момент отказаться от Услуг системы и/или Перевозчика. Отказ Клиента влечёт за собой прекращение перед ним всех обязанностей Компании с момента такого отказа.</li>

           <li>Компания вправе изменять условия настоящей Оферты и её Приложений, вводить новые Приложения к настоящей Оферте без предварительного уведомления. Клиент, зная о возможности таких изменений, согласен с тем, что они будут производиться. Если Клиент продолжает пользоваться Услугами системы после таких изменений, это означает его согласие с ними.</li>
       </ol>
   </li>

   <li>
     <b>Отсутствие гарантий</b>
     <p>
       Вся информация, предоставленная при использовании Услугами системы, предоставляется "как она есть" («as is») с возможными ошибками, без гарантий любого вида, прямо выраженных или подразумеваемых. Компания не предоставляет никаких гарантий, включая без ограничений гарантии соответствия определённым требованиям, гарантии пригодности для использования в определённых целях, гарантии ненарушения и гарантии, возникающие в результате использования или продажи. Компания не несёт ответственности за какие-либо непрямые, прямые, фактические или косвенные убытки, включая без ограничений упущенную выгоду, убытки, возникшие в результате использования или невозможности использования информации при использовании Услуг системы. Услуги, предоставляемые Клиенту бесплатно, могут быть прекращены без объяснения причин и предварительного уведомления.
     </p>
     Компания:<br>
     г. Москва, ООО «РУ-Сеть», ИНН 7704788849, Печатников пер., д.20, стр.1, info@ru-set.com
   </li>
</ol>
